$body-font: Georgia, serif;
$title-font: 'Barlow', sans-serif;
$indentation: 4rem;

body {
  font-family: $body-font;
  line-height: 1.5;
  max-width: 40rem;
  margin: 0 auto;
}

p, ul, ol {
  font-size: 1.25rem;
  margin: 0 0 1rem;
}

p + ul,
p + ol {
  margin-top: -1rem;
}

ul, ol {
  list-style: none;
  margin: 0 0 1rem 2rem;
  padding: 0;
  
  counter-reset: item;

  li {
    &:before {
      content: counter(item)".";
      display: inline-block;
      margin-left: -2rem;
      width: 2rem;
    }
    
    counter-increment: item;
  }

  ul, ol {
    margin-bottom: 0;
    margin-left: 2rem;

    li {
      &:before {
        content: counter(item, lower-alpha)".";
      }
    }

    ul, ol {

      li {
        &:before {
          content: counter(item, lower-roman)".";
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;

  &::before {
    display: inline-block;
    margin-right: 0.5rem;
  }

  + p {
    text-indent: 0;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 3rem 0;
}

h2 {
  border-bottom: 1px solid #CCC;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 6rem 0 1.5rem;
  padding-bottom: 0.5rem;

  counter-increment: counter-h1;
  counter-reset: counter-h2;
  
  &::before {
    content: "Article "counter(counter-h1, upper-roman)".";
  }
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 3rem 0 1rem;

  counter-increment: counter-h2;
  counter-reset: counter-h3;
  
  &::before{
    content: counter(counter-h1)"."counter(counter-h2)".";
  }
}

h4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 1.5rem 0 0.5rem;

  counter-increment: counter-h3;
  counter-reset: counter-h4;

  &::before{
    content: counter(counter-h1)"."counter(counter-h2)"."counter(counter-h3)".";
  }
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
  opacity: 0.667;
  margin: 1.75rem 0 0.25rem;

  counter-increment: counter-h4;
  counter-reset: counter-h5;

  &::before {
    content: counter(counter-h1)"."counter(counter-h2)"."counter(counter-h3)"."counter(counter-h4)".";
  }
}

h6 {
  counter-increment: counter-h5;
  counter-reset: counter-h6;
  
  &::before{
    content: counter(counter-h1)"."counter(counter-h2)"."counter(counter-h3)"."counter(counter-h4)"."counter(counter-h5)".";
  }
}